.background {
    background: url('../img/login-back.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -64px;
    height: 100%;
    overflow-y: scroll;
}

.champ-img{
	width: 100%;
	height: 100%;
	position: relative,
	
}

.champ-wrap{
    height: 300px;
    background: red;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
    overflow: hidden;
    margin-bottom: 40px;
}

.grade-circ{
    background: rgba(222,222,222,1);
    color: rgba(0,0,0,0);
    font-weight: bolder;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 0px auto 0 auto;
    position: relative;
   
    z-index: 1;
}

.grade-circ p{
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: black;
    line-height: 50px;
    
}

.champ-name{
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
    text-align: center;
    color: white;
    font-size: 20px;
    top: -165px;
    height: 76px;
    line-height: 80px;
    position: relative;
}

.grade-wrap{
    width: 100%;
    position: relative;
    top: -125px;
    
}

.circ-wrap{
    width: 100%;
    height: 50px;
    
}

.team-circ{
    margin: 0 auto;
    background: white;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    border-radius: 25px;
    font-size: 25px;
    color: black;
}

#tname-label{
    text-align: center;
    width: 100%;
    color: white;
    padding: 10px;

}

.team-wrap{
    padding: 20px;
    
}

.team-sq{
    height: 180px;
    color: white;
    padding: 20px;
}

.team-sq p{
    text-align: center;
    
}

#row2{
    
    padding: 250px 5% 0px 5%;
    opacity: 0.0;
    display: none;
}

#row3{
    
    padding: 100px 5% 0px 5%;
    opacity: 0.0;
    display: none;
    
    
}

.loading{
    opacity: 0;
    display: none;
}

.team-wrap{
    background: ;
    height: 200px;
}

body{
    height: 100%;
    background: black;
}

#row1{
    position: relative;
}

html{
    height: 100%;
   
}

.slider{
    margin-top: 30px;
    
}

.login-card{
    height: auto;
    opacity: 0;
    margin-top: 200px;
}
